/*
* Style by D3NN7
* and Patrick Hlauke (https://codepen.io/patrickhlauke/pen/YaoBop)
*/

@font-face {
  font-family: 'Noto Sans Display';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/NotoSansDisplay-Regular.ttf);
}
html { background: #121212;
       padding: 1em;
       font-family: Noto Sans Display;
       color: #eee;
       font-size: 1em;
       line-height: 1;
       text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
       letter-spacing: 0.125em;
       animation-duration: 0.01s;
       animation-name: textflicker;
       animation-iteration-count: infinite;
       animation-direction: alternate;
}
h1 {
  font-size: 5em;
  text-align: center;
  margin-bottom: 0.35em;
}
h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

a {
  color: white;
}

@media screen and (min-width: 1200px) {
  body {
      margin-left: 20rem;
      margin-right: 20rem;
  }
  .intro-div, .section, .flickering-line {
    width: 55%; /* Use 55% width on larger screens */
  }
}

@media screen and (min-width: 600px) {
    body {
        margin-left: 5em;
        margin-right: 5em;
    }
    .intro-div, .section, .flickering-line {
      width: 95%; /* Use 55% width on larger screens */
    }
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}

@keyframes borderflicker {
  from {
    box-shadow: 0.2px 0 0 #ea36af, -0.4px 0 0 #75fa69;
  }
  to {
    box-shadow: 0.4px 0.1px 0.4px #ea36af, -0.2px -0.1px 0.4px #75fa69;
  }
}

@keyframes lineflicker {
  from {
    box-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    box-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}

.intro-div{
  float: center;
  margin: 0 auto;
}

.intro-para {
  margin: 0 auto 1em;
  line-height: 1.6;
}

.profile-pic {
  width: 25%;
  float: left;
  height: auto;
  margin: 0 auto 0em;
  margin-right: 0.5em;
  /* margin-bottom: 1em; */
  object-fit: cover;
  display: block;
  animation: borderflicker 0.01s infinite alternate;
}

.section {
  margin: 0 auto 1em;
  text-align: center;
}

.item-list {
  list-style-type: none;
  padding: 0;
  line-height: 1.6;
}

.item-list li {
  margin-bottom: 1.2em;
}

.subtext {
  font-size: 0.8em;
  color: #aaa;
  margin-top: 0.4em;
  margin-left: 1em;
}

.flickering-line {
  height: 2px;
  background-color: white;
  animation: lineflicker 0.01s infinite alternate;
  margin: 1.5em auto 0;
}